{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    {if auth("$classuri/del_param")}
    <button data-update data-field='delete' data-action='{:url("$classuri/del_param")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-close'></i> 删除参数字段
    </button>
    {/if}
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="__SELF__" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">接口映射Hash</label>
        <div class="layui-input-inline">
            <input name="hash" value="{$Think.get.hash|default=''}" placeholder="接口映射Hash" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">接口名称</label>
        <div class="layui-input-inline">
            <input name="fieldName" value="{$Think.get.fieldName|default=''}" placeholder="接口名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">操作者</label>
        <div class="layui-input-inline">
            <select name='handler' class='layui-select' lay-search>
                <option value=''> - 选择操作者 -</option>
                <!--{foreach $handlers as $key=>$handler}-->
                <!--{if $Think.get.handler eq $key}-->
                <option selected value="{$key}">{$handler}</option>
                <!--{else}-->
                <option value="{$key}">{$handler}</option>
                <!--{/if}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">参数类型</label>
        <div class="layui-input-inline">
            <select name='type' class='layui-select' lay-search>
                <option value=''> - 选择类型 -</option>
                <option {if $Think.get.type=='0'}selected{/if} value="0">请求参数</option>
                <option {if $Think.get.type=='1'}selected{/if} value="1">响应参数</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='text-center'>ID</th>
            <th class='text-center'>对应映射</th>
            <th class='text-left'>字段名称</th>
            <th class='text-center'>数据类型</th>
            <th class='text-center'>是否必须</th>
            <th class='text-left'>默认值</th>
            <th class='text-left'>字段说明</th>
            <th class='text-center'>参数类型</th>
            <th class='text-center'>操作者</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='text-center'>{$vo.id|default="<span style='color:#ccc'>暂无</span>"}</td>
            <td class='text-center'>{$vo.hash|default="<span style='color:#ccc'>暂无</span>"}</td>
            <td class='text-left'>{$vo.fieldName|default="<span style='color:#ccc'>暂无</span>"}</td>
            <td class='text-center'>{$dataType[$vo.dataType]|default="<span style='color:#ccc'>暂无</span>"}</td>
            <td class='text-center'>{$vo.isMust?"<span style='color:#090'>是</span>":"<span style='color:#999'>否</span>"}</td>
            <td class='text-left'>{$vo.default|default="<span style='color:#ccc'>暂无</span>"}</td>
            <td class='text-left'>{$vo.info|default="<span style='color:#ccc'>暂无</span>"}</td>
            <td class='text-center'>{$vo.type?"<span style='color:#900'>响应参数</span>":"<span style='color:#090'>请求参数</span>"}</td>
            <td class='text-center'>{$vo.handler_name|default="<span style='color:#ccc'>暂无</span>"}</td>
            <td class='text-center nowrap'>
                {if auth("$classuri/edit_param")}
                <a data-modal='{:url("$classuri/edit_param")}?id={$vo.id}' data-title="编辑接口参数" href="javascript:void(0)">编辑</a>
                {/if}
                {if auth("$classuri/del_param")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del_param")}'
                   href="javascript:void(0)" style="color:#c00">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        {if empty($list)}
        <tr><td colspan="12" style="text-align:center">没 有 记 录 了 哦 !</td></tr>
        {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
    <script>window.form.render();</script>
</form>
{/block}